.systems-dashboard {
  background-color: #d4d2d2d8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 16px;
  /* Tamanho de font pai padrão para os demais componentes filhos */
}

.main-content {
  display: flex;
  flex: 1;
  justify-content: center;
  padding-left: 60px;
}

.systems-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  margin-top: 20px;
}

.systems-columns {
  display: flex;
  gap: 26px;
  flex: 1;
  width: 100%;
  max-width: 1466px;
}

.systems-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.column-title {
  font-weight: 600;
  text-align: center;
  padding: 6px;
  background-color: #fcfcfcdb;
  border-radius: 8px;
  font-family: 'Roboto';
  color: #41566be3;
  font-size: 0.96em;
}

@media (max-width: 1000px) {
  .main-content {
    padding-left: 0;
  }

  .systems-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    margin-top: 20px;
  }
}

@media (max-width: 1200px) {
  .systems-columns {
    flex-wrap: wrap;
  }

  .systems-column {
    flex-basis: calc(50% - 13px);
  }
}

@media (max-width: 600px) {
  .systems-columns {
    flex-direction: column;
  }

  .systems-column {
    flex-basis: 100%;
  }

  .systems-container {
    margin-top: 10px;
  }
}