.system-card {
  display: block;
  background-color: #fcfcfcdb;
  border: 2px solid #b0c4de;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
  text-decoration: none;
  color: #2c3e50;
  font-family: 'Roboto', sans-serif;
  --card-color: #b0c4de;
  height: 120px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.system-card:active {
  cursor: grabbing;
}

.systems-column>div[draggable="true"]:active .system-card {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  opacity: 0.7;
}

.system-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-color: var(--card-color);
}

.system-card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.system-card-main {
  display: flex;
  align-items: center;
  flex-grow: 1;
  cursor: pointer;
}

.system-card-index {
  font-weight: bold;
  color: #fff;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 14px;
  flex-shrink: 0;
  margin-left: 2px;
  background-color: var(--card-color);
}

.system-card-title {
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 100%;
}

.system-card-details {
  text-align: left;
  font-size: 0.8em;
}

.system-card h2 {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 1.1em;
  color: #2c3e50;
  font-weight: 700;
}

.system-card p {
  margin: 5px 0 0;
  color: #34495e;
  font-family: 'Roboto', sans-serif;
}

.system-card-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  border-left: 1px solid #e0e0e0;
  margin-left: 15px;
  cursor: default;
  padding-top: 4px;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  margin: 2px 0;
  transition: color 0.2s;
}

.icon-button svg {
  color: #7f8c8d;
  transition: color 0.2s;
}

.icon-button:hover svg,
.icon-button:focus svg {
  color: var(--card-color);
}