.header {
  background-color: #65788b;
  color: #ecf0f1;
  font-family: 'Roboto', sans-serif;
  padding: 10px 60px;
  position: relative;

}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6px;
  margin-left: 30px;
}

.avatar {
  width: 52px;
  height: 52px;
  border-radius: 50%;
}

.header-center {
  flex-grow: 1;
  text-align: center;
}

.header-center h1 {
  margin: 0;
  font-size: 1.6em;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.header-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 30px;
}

.time {
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 4px;
}

.date {
  font-size: 0.9em;
  color: #bdc3c7;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: rgba(236, 240, 241, 0.1);
  border-radius: 5px;
  padding: 5px 15px;
  width: 220px;
  transition: all 0.3s ease;
  border-bottom: 1px solid #ecf0f3d5;
  font-size: 0.9em;
  margin-left: auto;
}

.search-bar input {
  font-family: 'Roboto';
}

.search-bar:hover {
  background-color: rgba(236, 240, 241, 0.2);
}

.search-bar svg {
  margin-right: 10px;
  transition: all 0.3s ease;
}

.search-bar:hover svg {
  stroke: #ecf0f1;
}

.search-bar input {
  background: none;
  border: none;
  color: #ecf0f1;
  font-size: 1em;
  width: 100%;
  outline: none;
}

.search-bar input::placeholder {
  color: #bdc3c7;
}

.user-name {
  margin-top: 8px;
  font-size: 0.9em;
  color: #ecf0f1;
  font-family: 'Roboto', sans-serif;
  margin-bottom: -30px;
}

@media (max-width: 768px) {
  .header {
    padding: 10px 20px;
  }

  .header-content {
    flex-wrap: wrap;
  }

  .header-center {
    order: -1;
    width: 100%;
    margin-bottom: 10px;
  }

  .header-center h1 {
    font-size: 1.3em;
  }


  .header-right {
    flex: 1;
  }

  .time {
    font-size: 1em;
  }

  .avatar {
    width: 45px;
    height: 45px;
  }

  .date {
    font-size: 0.8em;
  }

  .search-bar {
    margin-top: 10px;
    width: 190px;
    transition: all 0.3s ease;
    font-size: 0.7em;
  }
}

@media (max-width: 400px) {
  .header {
    padding: 8px 15px;
  }

  .header-center h1 {
    font-size: 1.1em;
  }

  .time {
    font-size: 0.9em;
  }

  .date {
    font-size: 0.7em;
  }

}