/* Estilo geral da sidebar */
.sidebar {
  width: 60px;
  height: 100vh;
  background-color: #1e262d;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  transition: transform 0.3s ease-in-out;
  z-index: 0;
}

.icon {
  color: #65788b;
  margin: 30px 0;
  cursor: pointer;
  position: relative;
}

.icon svg {
  transition: stroke 0.3s ease, fill 0.3s ease;
}

.icon:hover svg {
  stroke: #ffffff;
}

.icon[data-tooltip]:hover::before {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 80px;
  transform: translateX(-50%);
  background-color: #33333395;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  opacity: 1;
  font-family: 'Roboto', sans-serif;
}

.icon[data-tooltip]:hover::after {
  content: '';
  position: absolute;
  bottom: 90%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  opacity: 1;
}

.icon::before,
.icon::after {
  opacity: 0;
}

.icon:hover::before,
.icon:hover::after {
  opacity: 1;
}